# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

# ide
/.idea
/.vscode

# error
npm-debug.log
yarn-error.log

# dev
/node_modules
fe-admin/node_modules

# temp
/storage/
echo_shop

# private
config.yaml
