{% extends "../layouts/app.html" %}

{% block title %}新增收货地址{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10 offset-lg-1">
    <div class="card">
      <div class="card-header">
        <h2 class="text-center">
          新增收货地址
        </h2>
      </div>
      <div class="card-body">
        <!-- 输出后端报错开始 -->
        {% if all_errors %}
          <div class="alert alert-danger">
            <h4>有错误发生：</h4>
            <ul>
              {% for err in all_errors %}
                <li><i class="glyphicon glyphicon-remove"></i> {{ err }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <user-addresses-create-and-edit />
      </div>
    </div>
  </div>
</div>
{% endblock %}
