{% extends "../layouts/app.html" %}

{% block title %}收货地址列表{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card panel-default">
        <div class="card-header">
          收货地址列表
          <a href="{% route 'user_addresses.create' %}" class="float-right">新增收货地址</a>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>收货人</th>
              <th>地址</th>
              <th>邮编</th>
              <th>电话</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for address in addresses %}
              <tr>
                <td>{{ address.contact_name }}</td>
                <td>{{ address.full_address }}</td>
                <td>{{ address.zip }}</td>
                <td>{{ address.contact_phone }}</td>
                <td>
                  <a href="{% route 'user_addresses.edit' address.id %}" class="btn btn-primary">修改</a>
                  <form action="{% route 'user_addresses.destroy' address.id %}" method="post" style="display: inline-block">
                    {{ csrf_field | safe }}
                    {{ delete_method_field | safe }}
                    <button class="btn btn-danger" type="submit">删除</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_after %}
<script>
  $(document).ready(function() {
    // 删除按钮点击事件
    $('.btn-del-address').click(function() {
      // 获取按钮上 data-id 属性的值，也就是地址 ID
      var id = $(this).data('id');
      // 调用 sweetalert
      swal({
          title: "确认要删除该地址？",
          icon: "warning",
          buttons: ['取消', '确定'],
          dangerMode: true,
        })
      .then(function(willDelete) { // 用户点击按钮后会触发这个回调函数
        // 用户点击确定 willDelete 值为 true， 否则为 false
        // 用户点了取消，啥也不做
        if (!willDelete) {
          return;
        }
        // 调用删除接口，用 id 来拼接出请求的 url
        axios.delete('/user_addresses/' + id)
          .then(function () {
            // 请求成功之后重新加载页面
            location.reload();
          })
      });
    });
  });
</script>
{% endblock %}
